.full-banner-carousel {
  width: 100%;
  margin: 0;
  padding: 0;
}

.full-banner-carousel img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.carousel-caption {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

.carousel-caption p {
  font-size: 1.2rem;
}

.carousel-control-prev::after,
.carousel-control-next::after {
  font-size: 2rem;
  font-weight: bold;
  color: #ffcc00;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev::after {
  content: "<";
}

.carousel-control-next::after {
  content: ">";
}
